{% extends 'navbardonor.html' %}
{% block content %}
      <div class="card-deck mt-3 pt-4 ml-3 mr-3 pb-2">
        <div class="card pt-3 mt-0 pb-4 pr-3 pl-3" style="background-color: rgba(15, 15, 15, 0.954);">
          <div class="container-fluid mt-3">
            {% for message in messages %}
                <div class="container" style="text-align: center;">
                  <h5 class="alert alert-danger mt-0 mb-3" id="message1" style="text-align: center;">
                    {{message}}
                  </h5>
                </div>
                {% endfor %}
            <h3 class="text pb-3" style="color: rgb(255, 255, 255);text-align: center;">DONATE PET</h3>
            <form style="text-align: left;" action="{% url 'donate_pet_function' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" name="petname" class="form-control" placeholder="Pet Name" style="background-color: black;color: white;border: 1px solid rgba(255, 255, 255, 0.425);" required>
                  </div>
                  <div class="form-group col-md-6">
                    <input type="number" name="petprice" class="form-control" placeholder="Price" style="background-color: black;color: white;border: 1px solid rgba(255, 255, 255, 0.425);" required>
                  </div>
                </div>
                <div class="form-group pt-2">
                    <select class="form-control" name="sel" style="background-color: black;color: white;border: 1px solid rgba(255, 255, 255, 0.425);">
                      <option value="default" disabled selected>Select a category...</option>
                      {% for i in category %}
                      <option value="{{i.id}}">{{i.category_name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label style="color: rgb(255, 255, 255);">Description:</label>
                    <textarea class="form-control" name="petdescription" style="background-color: black;color: white;border: 1px solid rgba(255, 255, 255, 0.425);" rows="3" required></textarea>
                  </div>
                  <div class="form-group">
                    <label style="color: rgb(255, 255, 255);">Upload Image:</label>
                    <input type="file" name="img1" style="background-color: black;color: white;border: 1px solid rgba(255, 255, 255, 0.425);padding-bottom: 35px;" class="form-control" required>
                  </div>
                <div style="text-align: center;">
                <button style="border-radius: 0;" type="submit" class="btn btn-success mt-2">Add Pet <i class="fas fa-paw"></i></button>
              </div>
              </form>
          </div>
        </div>
      </div>
{% endblock %}
