{% extends 'navbardonor.html' %}
{% block content %}
{% for message in messages %}
<div class="container" style="text-align: center;">
  <h5 class="alert alert-danger mt-3 mb-0" style="text-align: center;">
    {{message}}
  </h5>
</div>
{% endfor %}
<div class="card-deck mt-2 pt-4 ml-3 mr-3 pb-2">
  <div class="card pt-3 mt-0 pb-4 pr-3 pl-3" style="background-color: rgba(15, 15, 15, 0.954);">
    <div class="container-fluid mt-3">
      <h3 class="text pb-3" style="color: rgb(255, 255, 255);text-align: center;">RESET PASSWORD</h3>
      <form action="{% url 'edit_donor_password' %}" method="post">
        {% csrf_token %}
        <div class="form-group row">
          <label style="color: white;" class="col-sm-3 col-form-label">Old Password:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="oldpass" style="background-color: black;color: white;border: 1px solid rgba(255, 255, 255, 0.425);">
          </div>
        </div>
        <div class="form-group row">
          <label style="color: white;" class="col-sm-3 col-form-label">New Password:</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="pass1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" style="background-color: black;color: white;border: 1px solid rgba(255, 255, 255, 0.425);">
          </div>
        </div>
        <div class="form-group row">
          <label style="color: white;" class="col-sm-3 col-form-label">Password Again:</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="pass2" style="background-color: black;color: white;border: 1px solid rgba(255, 255, 255, 0.425);">
          </div>
        </div>
        <div style="text-align: center;">
          <button type="submit" style="border-radius: 0;" class="btn btn-success mb-1 mt-2">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
